/* You can add global styles to this file, and also import other style files */
@import "./assets/table";
@import "./assets/nav";

@import 'bootstrap/dist/css/bootstrap.min.css';

.angular-bootstrap-table {
    overflow-x: auto;
}

.angular-bootstrap-table {
    th {
        outline: none;
        size: 3px;
    }

    .table.table-head-custom thead th.sortable-active {
        color: #234423 !important;
    }
}

.bg-white {
    background: rgb(252, 252, 252);
}

input:hover {
    box-shadow: inset 0 -2px rgb(180, 47, 47);
}

.registerForm {
    -webkit-box-shadow: -2px -1px 15px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -3px -2px 30px 14px rgba(0, 0, 0, 0.425);
    box-shadow: -4px -3px 45px 21px rgba(0, 0, 0, 0.35);
    
    background-color: white;
    border-radius: 8px;
    max-width: 600px;
    margin: 8em auto;
    align-items: center;
    text-align: center;
    font-size: 40px;
    mat-form-field{
        margin: 1em auto;
        min-width: 550px;
    }
    button{
        margin: auto auto 1em auto;
    }
  }

.loginForm {
    -webkit-box-shadow: -2px -1px 15px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -3px -2px 30px 14px rgba(0, 0, 0, 0.425);
    box-shadow: -4px -3px 45px 21px rgba(0, 0, 0, 0.35);
    
    background-color: white;
    border-radius: 8px;
    max-width: 550px;
    margin: 8em auto;
    align-items: center;
    text-align: center;
    font-size: 40px;
    mat-form-field{
        margin: 1em auto;
        min-width: 500px;
    }
    button{
        margin: auto auto 1em auto;
    }
  }
  mat-hint{
    color: red;
  }
  .errors{
    background-color: red;
  }
  .radioButtonGroup{
    label{
        margin: auto 2em;
    }
  }
.search{
    height: 3em;
    padding: 10px 10px;
    width: 280px;
    text-align: start;
    margin-left:30px;
}

input:focus {
    outline: none;
    box-shadow: inset 0 -2px #0eb5a4;
}
.cursor-pointer{
    cursor: pointer;
}

.btn{
    background-color: yellowgreen;
    border-radius: 4px;
    border: #051a1a;
    color:white;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    font-size: 20px;
    text-align: center;
}
.btn:hover{
    background-color: #77a3a3;
    
    cursor: pointer;
}
.btn:active{
    background-color: #638f8f;

}
.btn::after{
    background-color: #94bebe;

}
body{
    background-color: #bfc7c7;
    // align-items: center;
    // display: flex;
}
